@font-face {
  font-family: "Emblema One";
  src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"),
    url("EmblemaOne-Regular.ttf");
}

h1 {
  font-family: "Emblema One", sans-serif;
  font-size: 220%; /* 2.2em */
}

h2 {
  font-size: 130%;
  font-weight: normal;
}

h1,
h2 {
  border-bottom: thin dotted #888888;
  /*color: #cc6600;*/
  /*color: #c60;*/
  /*color: rgba(204, 102, 0, 1);*/
  /*204/255*100 = 80, 102/255*100 =40*/
  color: rgba(80%, 40%, 0%, 1);
}

blockquote {
  font-style: italic;
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
}
